src/flows/Contact_Verification-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>ContactVerificationAction</name>
        <label>ContactVerificationAction</label>
        <locationX>801</locationX>
        <locationY>26</locationY>
        <apexClass>SMSPlugin</apexClass>
        <connector>
            <targetReference>Get_Code</targetReference>
        </connector>
        <inputParameters>
            <name>AccountSid</name>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>From</name>
            <value>
                <elementReference>FromNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <elementReference>ToMobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Token</name>
            <value>
                <elementReference>AuthToken</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VerificationCode</assignToReference>
            <name>VerificationCode</name>
        </outputParameters>
    </apexPluginCalls>
    <constants>
        <name>AuthToken</name>
        <dataType>String</dataType>
        <value>
            <stringValue>e7e29fee375db1c855ba06ab3af9697c</stringValue>
        </value>
    </constants>
    <constants>
        <name>FromNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>07875063188</stringValue>
        </value>
    </constants>
    <constants>
        <name>HelpText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please enter OTP here</stringValue>
        </value>
    </constants>
    <constants>
        <name>UserName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AC0de114de92756613b112f92905f527a5</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ValidateOTP</name>
        <label>ValidateOTP</label>
        <locationX>403</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContact</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_OTP</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>618</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactVerificationAction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ToMobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>180</locationX>
        <locationY>476</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Phone_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>ContactVerification</name>
        <label>ContactVerification</label>
        <locationX>428</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <fields>
            <name>DisplayContactID</name>
            <fieldText>{!ContactID} {!ToMobile}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Code</name>
        <label>Get Code</label>
        <locationX>801</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ValidateOTP</targetReference>
        </connector>
        <fields>
            <name>Code</name>
            <dataType>Number</dataType>
            <fieldText>Code</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>{!HelpText}</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_OTP</name>
        <label>Invalid OTP</label>
        <locationX>790</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>Please enter Valid OTP</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ContactVerification</startElementReference>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>InputCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The contact’s mobile number</description>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ToMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
